.logo-bk{
    position: fixed;
    z-index: 10;
    top: 0;
    
    display: flex;
    justify-content: center;

    width: 100%;

    background: var(--black);
    color: var(--beige);
    box-shadow: 0 8px 20px #00000058;
}

.logo-box{
    padding: 24px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
}

.logo-box__logo{
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--beige);

    font-size: var(--lg);
    font-weight: var(--bold);
}

.logo-box__logo > i{
    color: var(--orange);

    font-size: calc(var(--lg) + 6rem);
}

.logo-box__links{
    color: var(--white);

    font-size: var(--md);
    font-weight: var(--bold);
}

.logo-box__links:hover {
    color: var(--beige);
}

.logo-box__links > i{
    display: none;
}

/* 
    #################
    ################# 
*/

.contact{
    padding: 60px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: var(--orange);
    color: var(--white);

    width: 100%;
}

.contact__info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contact__info__img--read{
    width: 70px;
    height: 70px;
    
    background: url(../assets/img/013-newsletter.png);
    background-position: center;
    background-size: cover;
}

.contact__info__img--write{
    width: 70px;
    height: 70px;
    
    background: url(../assets/img/006-like.png);
    background-position: center;
    background-size: cover;
}

.contact__info__detail{
    display: flex;
    flex-direction: column;
    gap: 6px;

    width: 50%;
}

.contact__info__detail > span{
    padding-bottom: 4px;

    border-bottom: 1px solid var(--white);

    font-weight: var(--bold);
}

.social-bk{
    display: flex;
    justify-content: center;

    width: 100%;

    background: var(--brown);
}

.social-media{
    padding: 10px 0;

    display: flex;
    justify-content: center;
    gap: 30px;

    width: 100%;

    font-size: calc(var(--lg) + 4px);
}

.social-media > a{
    color: var(--white);
}

.social-media > a:hover{
    color: var(--beige);
}