:root{
    --grey: #272727;
    --white: #e6e6e6;

    --black: #2D2424;
    --brown: #5C3D2E;
    --orange: #B85C38;
    --beige: #E0C097;

    --sm: 16rem;
    --md: 20rem;
    --lg: 24rem;

    --light: 300;
    --regular: 400;
    --bold: 600;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    appearance: none;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
}

html{
    font-size: 6.25%;
}

img{
    width: 100%;
    height: 100%;
}

body{
    overflow: hidden;
    z-index: 1;

    display: grid;
    place-items: center;

    width: 100%;
    max-height: 100vh;

    background-size: cover;
    background-image: url(../assets/img/coffee-store-cover--desktop.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: var(--grey);
    
    font-family: 'Poppins', sans-serif;
    font-size: 16rem;
}

.logo-bk{
    position: fixed;
    z-index: 10;
    top: 0;
    
    display: flex;
    justify-content: center;

    width: 100%;

    background: var(--black);
    color: var(--beige);
    box-shadow: 0 6px 18px #000000ee;
}

.logo-box{
    padding: 24px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
}

.logo-box__logo{
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: var(--sm);
}

.logo-box > a{
    color: var(--white);

    font-size: var(--md);
    font-weight: var(--bold);
}

.logo-box > a:hover {
    color: var(--orange);
}

.logo-box > a > i{
    display: none;
}

.logo-box__logo > i{
    color: var(--orange);

    font-size: calc(var(--lg) + 6rem);
}

.cover-bk{
    width: 100%;
}

.cover-img{
    position: relative;

    display: grid;
    place-items: center;

    height: 100vh;
}

.cover-img::before{
    position: absolute;
    z-index: 2;
    content: '';
    
    width: 100%;
    height: 100%;

    opacity: .2;
    background: var(--grey);
}

.cover-img__text{
    position: absolute;
    z-index: 3;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    max-width: 600px;
    width: 90%;
    min-width: 120px;

    color: var(--white);

    text-align: center;
    font-size: calc(var(--lg) + 4rem);
}

.cover-img__text > a{
    padding: 12px 18px;
    
    border-radius: 8px;
    background: var(--orange);
    color: var(--white);

    font-size: var(--lg);
    font-weight: var(--bold);
}

.cover-img__text > a:hover{
    background: var(--beige);
    color: var(--black);
}

.social-bk{
    position: fixed;
    z-index: 10;
    bottom: 0;

    display: flex;
    justify-content: center;

    width: 100%;

    background: var(--brown);
}

.social-media{
    padding: 10px 0;

    display: flex;
    justify-content: center;
    gap: 30px;

    width: 100%;

    font-size: calc(var(--lg) + 4px);
}

.social-media > a{
    color: var(--white);
}

.social-media > a:hover{
    color: var(--beige);
}

@media screen and (max-width: 428px){
    body{
        background-image: url(../assets/img/coffee-store-cover--smartphone.jpg);
    }

    .logo-box{
        width: 90%;
    }
    
    .logo-box > a > span{
        display: none;
    }
    
    .logo-box > a > i{
        display: block;
    }

    .logo-box__logo{
        font-size: calc(var(--sm) - 4rem);
    }

    .cover-img__text{
        gap: 60px;
    }
}

