@media screen and (max-width: 428px){
    .logo-box{
        width: 90%;
    }
    
    .logo-box > a > span{
        display: none;
    }
    
    .logo-box > a > i{
        display: block;
    }

    .logo-box__logo{
        font-size: calc(var(--lg) - 4rem);
    }

    .cover-img{
        background-image: url(../assets/img/coffee-store-cover--smartphone.jpg);
    }

    .cover-img__text{
        gap: 60px;
    }
    
    .principal-content{
        align-items: center;
    }

    .principal-content__title{
        width: 100%;

        border-bottom: 1px solid var(--grey);

        text-align: center;
    }

    .principal-content__blog{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .principal-content__blog__info{
        padding: 0;
        max-width: 300px;
        width: 100%;
        min-width: 270px;
    }

    .all-blogs-box__blogs{
        grid-template-columns: minmax(70%, 100%);
    }

    .blog-cover-img{
        height: 300px;
    }

    .blog-contain{
        width: 80%;
    }

    .contact{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 60px;
    }

    .contact__info__detail{
        width: 70%;
    }
}